registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm/
//arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm/:_auth=${ARM_NPM_TOKEN}
@eui:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-e-uisdk-npm-local/
//arm.seli.gic.ericsson.se/artifactory/api/npm/proj-e-uisdk-npm-local/:_auth=${ARM_NPM_TOKEN}
@adp:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm-local/
//arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm-local/:_auth=${ARM_NPM_TOKEN}
