/* style goes here */
:host {
  width: 100%;
  height: 100%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--space-base, 8px);
  width: 100%;
}

.groupContainer {
  width: 100%;
  padding-bottom: var(--space-base, 8px);
  display: inline-flex;
}

.groupName {
  margin-right: var(--space-large, 16px);
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
}

.container {
  padding: var(--space-large, 16px) 0;
}

.viewAllLink {
  font-size: small;
  text-decoration: none;
  padding-top: var(--space-small, 4px);
  color: var(--blue);
  cursor: pointer;
}

.expandLink {
  margin-top: var(--space-base, 8px);
  display: block;
}
